<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>Hi, I’m Hadiya Randle — a cybersecurity professional with 6 years of experience in customer service and IT support. I specialize in troubleshooting, user support, and system administration, with a growing focus on network security and threat mitigation.

I completed a 5-month training program with Merit America, earning the Google Cybersecurity Professional Certificate and completing hands-on projects in threat detection, risk analysis, and secure IT practices. This experience solidified my technical foundation and gave me practical exposure to tools and concepts used in real-world cybersecurity roles.

Whether I’m analyzing vulnerabilities or supporting users, I bring curiosity, adaptability, and a commitment to continuous improvement.</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL (BigQuery, MySQL)<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Slack, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      </div> https://docs.google.com/document/d/1fxffwcTqGuhI5_m8y19tfO3vlmvnSNl0-pWwSST_-W0/edit?usp=sharing
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="https://docs.google.com/document/d/1fxffwcTqGuhI5_m8y19tfO3vlmvnSNl0-pWwSST_-W0/edit?usp=sharing" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
